body
{
    background-color: #633a8474;
    font-family: Arial, sans-serif;
}

.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

iframe
{
    width: 600px;
    height: 360px;
}

h1
{
    color: #00000093;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a
{
    text-decoration: none;
    color: #00000093;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
